include LICENSE.md
include README.md
include build_ext.py
include libpath.py
include nmm/_data/GALNBKIG_cut.fasta
include nmm/_data/PF03373.hmm
include nmm/_data/PF03373.hmm
include nmm/_data/PF03373_GALNBKIG_cut.amino.fasta
include nmm/_data/PF03373_GALNBKIG_cut.codon.fasta
include nmm/_data/PF03373_GALNBKIG_cut.gff
include nmm/_data/amino1.fasta
include nmm/_data/database1.hmm
include nmm/_data/output1.gff
include nmm/_data/output1_evalue.gff
include nmm/_data/tblout.txt
include nmm/imm.h
include nmm/nmm.h
include version.py
