include LICENSE.md
include README.md
include build_ext.py
include libpath.py
include nmm/_hmmer/test/PF03373.hmm
include nmm/test/GALNBKIG_cut.fasta
include nmm/test/PF03373.hmm
include nmm/test/PF03373_GALNBKIG_cut.amino.fasta
include nmm/test/PF03373_GALNBKIG_cut.codon.fasta
include nmm/test/PF03373_GALNBKIG_cut.gff
include version.py
